section {
  display: flex;
  justify-content: center;
  padding-top: 36px;
}

.input-name {
  margin-right: 8px;
  width: 272px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #808080;
}

.input-name:hover,
.input-name:focus {
  border-radius: 4px;
  border: 1px solid #000;
}

.search-btn {
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: none;
  background: #4e75ff;
  cursor: pointer;

  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  /* 150% */
  letter-spacing: 0.04em;
}

.search-btn:hover,
.search-btn:focus {
  background: #6c8cff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 24px;
  max-width: 1128px;
  list-style: none;
}

.gallery-item {
  width: calc((100% - 48px) / 3);
  position: relative;
  overflow: hidden;
}

.gallery-image {
  width: 360px;
  height: 200px;
  transition: transform 0.3s ease-in-out;
}

.gallery-link {
  display: block;
  text-decoration: none;
}

.gallery-image:hover {
  transform: scale(1.1);
}

.box-cards {
  border-radius: 4px;
  border: 1px solid #808080;
}

.image-info {
  display: flex;
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.text-item {
  margin: 0 auto;
}

/* _________Lodar____________ */

.loader {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 999;
}

.loader::after {
  content: '';
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  width: 60px;
  height: 60px;
  border-style: solid;
  border-color: #ddd #ddd #ddd transparent;
  border-radius: 50%;
  animation: loader-spin 1s ease-in-out infinite;
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.load-btn {
  display: none;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 10px;
  border-radius: 8px;
  background: #4e75ff;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
